<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606892238690-mjcev5mkhosspjo1l9fddg1aaumn2730.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606892238690-mjcev5mkhosspjo1l9fddg1aaumn2730</string>
	<key>API_KEY</key>
	<string>AIzaSyCCwjT12uGLc02-bbsXQxJWnlHrwcraCME</string>
	<key>GCM_SENDER_ID</key>
	<string>606892238690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.influpeach.ios</string>
	<key>PROJECT_ID</key>
	<string>influpeach-ptype</string>
	<key>STORAGE_BUCKET</key>
	<string>influpeach-ptype.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606892238690:ios:a7be3e67a8eac944a5ee3b</string>
</dict>
</plist>